/* @override http://localhost:8080/plugins/footage-handler-0.2.2/css/img-edit.css */

/*
.ui-resizable-e {
	width: 30px;
	margin-left: 0;
	padding-left: 0;
	right: -30px;
	background: url(images/horizontal_resize.png) no-repeat 5px;
}

.ui-resizable-s {
	height: 30px;
	bottom: -30px;
	background: url(images/vertical_resize.png) no-repeat 50% 5px;
}

*/